/* NORMALIZE */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #282828;
}

* {
  box-sizing: border-box;
}

*:after, *:before {
  box-sizing: border-box;
}

article, figcaption, figure, footer, header, aside, main, nav, section {
  display: block;
}

a {
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

img {
  border-style: none;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input {
  box-shadow: none;
  border-radius: 0;
}

button, input, select, textarea {
  margin: 0;
  font: inherit;
}

button, input {
  overflow: visible;
}

button, [type="submit"] {
  -webkit-appearance: button;
  border: 0;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

button:focus, [type="submit"]:focus {
  outline: 0;
}

button::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

textarea {
  overflow: auto;
}

button, select {
  text-transform: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  padding: 0;
}

.clear:before, .container:before, .clear:after, .container:after {
  content: " ";
  display: table;
}

.clear:after, .container:after {
  clear: both;
}

/* TYPOGRAPHY */
.heading-1 {
  font-weight: 300;
  font-size: 32px;
  text-align: center;
}

.paragraph-1 {
  font-weight: 300;
  line-height: 20px;
  text-align: center;
  width: 660px;
  margin: 15px auto;
}

/* BUTTONS */
.btn {
  display: block;
  width: 140px;
  height: 44px;
  border-radius: 22px;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.100em;
}

.btn.ghost {
  border: solid 1px #fff;
}

.btn.black {
  background-color: #282828;
}

/* ANIMATIONS */
.transition-all, .btn, footer a, #index .what-u-want a, #index .process .navigation a {
  transition: all 0.5s ease;
}

@-webkit-keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%, 90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

/* BASE */
.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  width: 960px;
}

.browserupgrade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background: #fff;
  z-index: 9999;
  padding: 50px;
}

.browserupgrade a {
  text-decoration: underline;
  color: #a52a2a;
}

/* HEADER */
header {
  height: 65px;
  position: relative;
  z-index: 1;
}

header .logo {
  display: block;
  width: 97px;
  height: 22px;
  background: url("../images/header/logo.png") no-repeat center;
  background-size: contain;
  margin-top: 43px;
  float: left;
}

header .nav-icon {
  width: 23px;
  height: 16px;
  margin-right: 28px;
}

header .nav-icon span {
  display: block;
  height: 3px;
  background-color: #fff;
  width: inherit;
  margin-bottom: 3px;
}

header .nav-icon span:last-child {
  margin-bottom: 0;
}

header .nav-icon, header .profile-icon {
  margin-top: 45px;
  float: right;
}

header .profile-icon {
  width: 16px;
  height: 16px;
  background: url("../images/header/profile.png") no-repeat center;
  background-size: contain;
}

/* FOOTER */
footer {
  height: 140px;
}

footer a {
  display: block;
  float: left;
  font-size: 14px;
  font-weight: 300;
  color: #282828;
}

footer a:hover {
  color: #f57c00;
}

footer .footer-logo {
  width: 97px;
  height: 22px;
  background: url("../images/footer/footer-logo.png") no-repeat center;
  background-size: contain;
  margin-top: 61px;
}

footer .cib {
  width: 130px;
  height: 32px;
  background: url("../images/footer/cib.png") no-repeat center;
  background-size: contain;
  margin: 56px 6px 0 0;
}

footer .visa {
  width: 52px;
  height: 16px;
  background: url("../images/footer/visa.png") no-repeat center;
  background-size: contain;
  margin: 64px 18px 0 0;
}

footer .mastercard {
  width: 32px;
  height: 19px;
  background: url("../images/footer/mastercard.png") no-repeat center;
  background-size: contain;
  margin: 62px 0 0 0;
}

footer nav {
  float: left;
  margin: 62px 75px 0 225px;
}

footer li {
  float: left;
  margin-right: 15px;
}

footer li:last-child {
  margin-right: 0;
}

/* INDEX */
#index .hero-slider {
  background-color: #f57c00;
  color: #fff;
  width: 100%;
  margin-top: -65px;
}

#index .hero-slider .hero-icon {
  margin-top: 64px;
}

#index .hero-slider h1 {
  font-weight: 100;
  font-size: 48px;
  line-height: 48px;
  margin-top: 40px;
}

#index .hero-slider h1 span {
  font-weight: 700;
}

#index .hero-slider p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  width: 390px;
  margin-top: 20px;
}

#index .hero-slider .price {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.025em;
}

#index .hero-slider .price span {
  font-size: 16px;
}

#index .hero-slider .btn {
  margin-top: 25px;
}

#index .hero-slider .slider {
  height: 600px;
}

#index .hero-slider .slider li {
  padding-top: 60px;
  height: inherit;
  position: absolute;
  width: 100%;
  display: none;
}

#index .hero-slider .slider .s-1 {
  background: url("../images/index/hero-slider/hero-image-1.png") no-repeat bottom 14px right -10px;
}

#index .hero-slider .slider .s-2 {
  background: url("../images/index/hero-slider/hero-image-2.png") no-repeat bottom 14px right;
}

#index .hero-slider .big-next {
  display: block;
  height: 600px;
  width: 60px;
  background: #5c6bc0 url("../images/index/next-arrow.png") no-repeat center;
  background-size: 18px auto;
  position: absolute;
  width: 60px;
  top: 0;
  right: -120px;
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#index .hero-slider .big-next:hover {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

#index .what-u-want {
  padding: 40px 0;
}

#index .what-u-want figure {
  margin: 0;
}

#index .what-u-want figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  font-weight: 300;
  padding-top: 3px;
}

#index .what-u-want a {
  display: block;
  width: 220px;
  height: 130px;
  float: left;
  margin-right: 20px;
  position: relative;
  top: 0;
  color: #282828;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

#index .what-u-want a:hover {
  top: -5px;
  -webkit-transform: rotate(2deg) translate3d(0, 0, 0);
          transform: rotate(2deg) translate3d(0, 0, 0);
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

#index .what-u-want a:nth-child(4n) {
  margin-right: 0;
}

#index .what-u-want a:nth-child(-n+4) {
  box-shadow: 0 1px #cfd8dc;
  margin-bottom: 20px;
}

#index .what-u-want img {
  position: absolute;
  top: 47%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#index .process {
  padding-top: 40px;
  background-color: #eaeaea;
}

#index .process .container {
  padding-bottom: 40px;
}

#index .process .slider-2 {
  height: 327px;
  position: relative;
}

#index .process .slider-2 li {
  height: inherit;
  padding-left: 460px;
}

#index .process .slider-2 .s-1 {
  background: url("../images/index/process-slider/1.png") no-repeat left 120px center;
}

#index .process .content {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

#index .process .content h2 {
  font-weight: 700;
  font-size: 24px;
}

#index .process .content p {
  font-weight: 300;
  line-height: 20px;
  padding: 10px 35px 25px 0;
}

#index .process .navigation {
  position: absolute;
  bottom: -32px;
  width: 100%;
  text-align: center;
  height: 64px;
  font-size: 0;
}

#index .process .navigation:before {
  position: absolute;
  content: " ";
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 648px;
  top: 32px;
  background-color: #d7ccc8;
  height: 1px;
}

#index .process .navigation li {
  display: inline-block;
  margin-right: 162px;
  height: inherit;
  position: relative;
  font-size: 16px;
}

#index .process .navigation li:last-child {
  margin-right: 0;
}

#index .process .navigation a {
  color: #fff;
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  font-weight: 700;
  border-radius: 50%;
  text-align: center;
  background-color: #d7ccc8;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translate3d(0, 0, 0);
          transform: translateY(-50%) translate3d(0, 0, 0);
}

#index .process .navigation a.active {
  width: 64px;
  height: 64px;
  line-height: 60px;
  background-color: #fff;
  border: solid 4px #bdbdbd;
  color: #282828;
}

#index .our-background {
  text-align: center;
  padding: 100px 0 45px 0;
}
