/* INDEX */

#index {
    .hero-slider {
        background-color: #f57c00;
        color: #fff;
        width: 100%;
        margin-top: -65px;

        .hero-icon {
            margin-top: 64px;            
        }

        img{
          //  transform: scale(0.5);
        }

        h1 {
            font-weight: 100;
            font-size: 48px;
            line-height: 48px;
            margin-top: 40px;

            span {
                font-weight: 700;
            }
        }

        p {
            font-size: 16px;
            line-height: 20px;
            font-weight: 300;
            width: 390px;
            margin-top: 20px;
        }

        .price {
            font-weight: 700;
            font-size: 36px;
            letter-spacing: 0.025em;

            span {
                font-size: 16px;
            }
        }

        .btn {
            margin-top: 25px;
        }

        .slider {
            height: 600px;

            li {
                padding-top: 60px;
                height: inherit;
                position: absolute;
                width: 100%;
                display: none;
            }

            .s-1 {
                background: url("../images/index/hero-slider/hero-image-1.png") no-repeat bottom 14px right -31px;
            }

            .s-2 {
                background: url("../images/index/hero-slider/hero-image-2.png") no-repeat bottom 14px right;
            }
        }

        .big-next {
            display: block;
            height: 600px;
            width: 60px;
            background: #5c6bc0 url("../images/index/next-arrow.png") no-repeat center;
            background-size: 18px auto;
            position: absolute;
            width: 60px;
            top: 0;
            right: -120px;
            z-index: 1;
            @extend .transition-all;
            transition-duration: 0.2s;

            &:hover {
                background-size: 25px auto;
            }
        }
    }

    .what-u-want {
        padding: 40px 0;

        figure {
            margin: 0;
        }

        figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 40px;
            font-weight: 300;
            padding-top: 3px;
        }

        a {
            display: block;
            width: 220px;
            height: 130px;
            float: left;
            margin-right: 20px;
            position: relative;
            top: 0;
            color: #282828;
            text-align: center;
            backface-visibility: hidden;

            @extend .transition-all;

            &:hover {
                top: -5px;
                transform: rotate(2deg) translate3d(0, 0, 0);
            }

            &:nth-child(4n) {
                margin-right: 0;
            }

            &:nth-child(-n+4) {
                box-shadow: 0 1px #cfd8dc;
                margin-bottom: 20px;
            }
        }

        img {
            position: absolute;
            top: 47%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .process {
        padding-top: 40px;
        background-color: #eaeaea;

        .container {
            padding-bottom: 40px;
        }

        .slider-2 {
            height: 327px;
            position: relative;

            li {
                height: inherit;
                padding-left: 460px;
            }

            .s-1 {
                background: url("../images/index/process-slider/1.png") no-repeat left 120px center;
            }
        }

        .content {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            h2 {
                font-weight: 700;
                font-size: 24px;
            }

            p {
                font-weight: 300;
                line-height: 20px;
                padding: 10px 35px 25px 0;
            }
        }

        .navigation {
            position: absolute;
            bottom: -32px;
            width: 100%;
            text-align: center;
            height: 64px;
            font-size: 0;

            &:before {
                position: absolute;
                content: " ";
                left: 0;
                right: 0;
                margin: 0 auto;
                width: 648px;
                top: 32px;
                background-color: #d7ccc8;
                height: 1px;
            }

            li {
                display: inline-block;
                margin-right: 162px;
                height: inherit;
                position: relative;
                font-size: 16px;

                &:last-child {
                    margin-right: 0;
                }
            }

            a {
                color: #fff;
                display: block;
                width: 32px;
                height: 32px;
                line-height: 32px;
                font-weight: 700;
                border-radius: 50%;
                text-align: center;
                background-color: #d7ccc8;
                position: absolute;
                top: 50%;
                transform: translateY(-50%) translate3d(0, 0, 0);

                @extend .transition-all;

                &.active {
                    width: 64px;
                    height: 64px;
                    line-height: 60px;
                    margin-left: -16px;
                    background-color: #fff;
                    border: solid 4px #bdbdbd;
                    color: #282828;
                }
            }
        }
    }

    .our-background {
        text-align: center;
        padding: 100px 0 45px 0;
    }
}